{% extends 'templates/base.html' %}

{% block main %}
        <br />
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h4><strong>Knowing a little bit more</strong></h4>

                <p>
                    This website was developed as a homework for the <strong>Scripts
                    Programming</strong> discipline of the <strong>Technology College of Sao
                    Jose dos Campos(Fatec-SJC)</strong>.
                    Even though the website is not 100% real, the purpose was to decide a theme
                    and develop from it.</p>
                    <h4><strong>About the Theme</strong></h4>
                    The Chosen theme is a Online store that centralizes the sales of Concert
                    tickets of a specified country, summing up it would sell
                    tickets of any event in that country, no matter if the it is of a very-known
                    band or not.
                </p>
            </div>

        </div>

{% endblock %}