{% extends 'templates/base.html' %}

{% block head %}
    {{ super() }}
        <script type="text/javascript" src="/static/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/controller/tableController.js"></script>
{% endblock %}

{% block main %}
        <div ng-app="ticketsyApp" ng-controller="controller" class="row clearfix">
            <div class="col-md-12 column">
                <h1>Database Information</h1>

                <!--<form action="{{ salvar_curso }}" method="post" role="form">

                    <div class="form-group" ng-show="isEditEnabled">
                        <label >First Name:</label>
                        <input type="text" class="form-control" name="firstname" ng-show="isEditEnabled">

                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastname" ng-show="isEditEnabled">
                    </div>

                </form>-->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Zip Code</th>
                                <th>Phone</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in usuarios | orderBy: curso.firstname">
                                <td>
                                    <span ng-hide="u.editando">{_ u.firstname _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.firstname">
                                    </div>
                                </td>
                                <td>
                                    <span ng-hide="u.editando">{_ u.lastname _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.lastname">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.gender _}</span>
                                    <div ng-show="curso.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="curso.gender">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ curso.country _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.country">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.state _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.state">
                                    </div>

                                </td>
                                <td><span ng-hide="u.editando">{_ u.city _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.city">
                                    </div>
                                </td>
                                <td><span ng-hide="curso.editando">{_ u.address _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.address">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.zipcode _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.zipcode">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.phone _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.phone">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.email _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.email">
                                    </div>
                                </td><span ng-hide="u.editando">{_ u.key _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.email">
                                    </div>
                                <td>

                                </td>
                                <td>
                                    <button class="btn btn-warning" title="Edit Register"
                                            ng-click="editarUsuario(1)" ng-hide="curso.editando">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-success" ng-click="confirmarEdicao(l)" ng-show="curso.editando">
								        <i class="glyphicon glyphicon-floppy-disk"></i>
							        </button>
                                    <button class="btn btn-danger" title="Delete Register" ng-hide="curso.editando">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}