{% extends 'templates/base.html' %}

{% block main %}

<h2>Tickets Navigator</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Lollapalooza Brazil - May 5th-6th
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <img src="/static/img/lolla.png" alt="Logo Lollapalooza" title="Logo Lollapalooza" class="img-rounded"
                 width="140" height="140">

            <p class="paragraph">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid. 3 wolf moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS.

                <br /><br />
                <strong>Price:</strong>
                <br />
                2 days - R$540,0 (FULL), R$270,00 (HALF)
                <br />
            </p>
            <button type="button" class="btn btn-default buttonpos"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
            </button>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Super Bowl 2014 - Feb 2th
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <img src="/static/img/superbowl.jpg" alt="Logo Super Bowl" title="Logo Super Bowl" class="img-rounded"
                 width="140" height="140">

            <p class="paragraph">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid. 3 wolf moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS.

                <br /><br />
                <strong>Price:</strong>
                $2125,00 - UPPR LVL EZ/CORNER
            </p>
            <button type="button" class="btn btn-default buttonpos"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
            </button>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Rocknbeats: The Killers - Mar 22nd
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <img src="/static/img/rocknbeats.jpg" alt="Logo Rocknbeats" title="Logo Rocknbeats" class="img-rounded"
                 width="140" height="140">

            <p class="paragraph">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid. 3 wolf moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS.

                <br /><br />
                <strong>Price:</strong>
                $25,00
            </p>
            <button type="button" class="btn btn-default buttonpos"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
            </button>
        </div>
    </div>
</div>
</div>
{% endblock %}