.error {
    background-color: #fee;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.paragraph {
    float: left !important;
    margin-left: 170px;
    margin-top: -130px !important;
}


.badge-info {
    background-color: #3a87ad;
}
